@import url("https://use.typekit.net/mct8xox.css");

@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
    --font-primary: "Inter", "sans-serif"; 
    --font-secondary: "the-seasons", "sans-serif";
    --aspect-retro: 4 / 4;
    --color-primary: #938f8a;
    --color-secondary: #908c86;
    --color-tertiary: #f8f8f8;
    --color-quaternary: #edecea;
    --color-quinary: #f5f5f5;
    --color-senary: #f0f0f0;
}

/* Direct iframe inside Calendly container */
.calendly-inline-widget iframe {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    border-radius: inherit;
}